/* global settings */
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #cacaca;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
nav {
  background-color: #00829A;
}
.menu, .ios-menu {
  background-color: #00829A;
  width: 100%;
}
.fe-challenge {
  width: 375px;
  height: 667px;
  margin: 0 auto;
  overflow: scroll;
  background-color: #fff;
}
.ios-menu img {
  max-width: 100%;
  padding: 5px;
}
.menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  color: #fff;
}
.menu button {
  background-color: transparent;
  border: 0;
  height: 20px;
}
.bus {
  padding-left: 2em;
  display: flex;
  justify-content: space-between;
}
.bus-info {
  margin-left: 2em;
  width: 100%;
  font-size: 1em;
}

/* typography */
h1, h2, p {
  font-size: 2em;
  padding: .5em 0 .5em 1em;
}
h1, h2 {
  font-weight: 600;
}
h3 {
  height: 1.5em;
  font-size: 1.5em;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #EFEFF4;
  color: #00829A;
  padding: .25em 1em;
}